smart-checkbox {
  display: inline-block;
}

smart-checkbox::shadow div {
  width: 8rem;
  height: 8rem;
  background-color: #fff;
}

#default {
  width: 8rem;
  height: 8rem;
  background-color: #fff;
}
